$themes: (
    light: (
        //字体
        font_color1: #000,
        //字体
        font_color2: #fff,
                //字体
                font_color3: rgba(0, 0, 0, 0.4),
        //背景
        background_color1: #fff,
        // 时钟针颜色
        hour_color1:#000,
        // 背景渐变
        background_gradient1:#F8FBFD ,
        //边框
        border_color1: #e8ebf0,
        //边框阴影
        box_shadow_color1: rgba(127, 131, 168, 0.2)
    ),
    dark: (
        //字体
        font_color1: #fff,  
                       //字体
                       font_color2: #000,
                               //字体
        font_color3: rgba(255, 255, 255, 0.4),
        //背景
        background_color1: #111111,
        // 时钟针颜色
        hour_color1:#fff,
        //背景渐变
        background_gradient1:#DD1C1C,
        //边框
        border_color1: #34383c,
        // 阴影
        box_shadow_color1: rgba(0, 0, 0, 0.4)
    ),
);
